<!DOCTYPE html>
<html>

	<head>
		<title>Pictorious</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSFinal.css') }}">
	</head>

	<body>
		<center><h1>Congratulations! <br> You are PICTORIOUS!</h1>
		<img src="" alt="Main Picture" width="550" height="300">
		<h2 id='time'><h2>
		<h1>Your results:</h1></center>
		<p>
			Time Taken: <span id='tFinal'></span>
			<br>
			<br>
			<br>
			Pictures Used: <span id='gFinal'></span>
		</p>
	</body>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$TIME = {{time|safe}};
			$CHAIN = "{{chain|safe}}";
		</script>
		
		<script src="{{ url_for('static', filename='js/finalLogic.js') }}"></script>
	

</html>