<!DOCTYPE html>
<html>

	<head>
		<title>Pictorious</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS.css') }}">
	</head>

	<body>
		<h1>pic your way to pictory</h1>
		<h2 id='goal'></h2>
		<h3 id='time'></h3>
	</body>
		<p>
			<center><img id="main" src="" alt="Main Picture" width="350" height="300" align="center">
			</center>
			<br>
			<br>
			<center>
			<img id="1" src="" alt="Picture1" width="250" height="200"> 
			<img id="2"src="" alt="Picture2" width="250" height="200">
			<img id="3" src="" alt="Picture3" width="250" height="200">
			<img id="4" src="" alt="Picture4" width="250" height="200"></center>

		


		</p>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<script type=text/javascript>
			$STATIC_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		
		<script src="{{ url_for('static', filename='js/gameLogic.js') }}"></script>
	

</html>
