<!DOCTYPE html>
<html>

	<head>
		<title>Pictomelee</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS.css') }}">
	</head>

	<body>
		<h1>Welcome to Pictomelee!</h1>
	</body>
		<p>
			<center><img id="main" src="Images/Drumpf.jpg" alt="Main Picture" width="350" height="300" align="center"></center>
			<br>
			<br>
			<center>
			<img id="1" alt="Picture1" width="250" height="200" frameBorder="0"></iframe>
			<img id="2" alt="Picture2" width="250" height="200" frameBorder="0"></iframe>
			<img id="3" alt="Picture3" width="250" height="200" frameBorder="0" ></iframe>
			<img id="4" alt="Picture4" width="250" height="200" frameBorder="0"  ></iframe></center>

		</p>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<script src="{{ url_for('static', filename='js/gameLogic.js') }}"></script>
</html>
